.nav-link{
    color: white;
}
.nav-link:hover{
    color: #FF5102;
    text-decoration: underline;
}

.d-block{
    object-fit: cover;
}
.notic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notic a{
    color: #ffffff;
}
.notic a:hover{
    color: #FF5102;
}

